<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About us</title>
    </head> 
    <body>
        <div class="content">
            {{>header}}
        <img src="/img/IMG_0808.JPG">
        </div>
        {{>footer}}
    </body>
</html>