<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Help</title>
        <link rel="icon" href="/img/cloud-icon.png"
        </head>
        <body>
            <div class="content">
            {{>header}}
            </div>
            {{>footer}}
        </body>
</html>