<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <title>About us</title>
    </head> 
    <body>
        <h1>{{title}}:</h1>
        <img src="./img/IMG_0808.JPG">
        
        <p>Created by {{name}}</p>
    </body>
</html>